---
---
@import "background.scss";
@import "flourish.scss";
@import "front.scss";
@import "header.scss";
@import "headline.scss";
@import "page_content.scss";
@import "posts.scss";
@import "problems.scss";
@import "variables.scss";

/*
*******
None of these variable are being imported anywhere, they're just here for your convenience.
*******
*/

body {
	margin: 0;
	background: $color-slate-08;
	font-family: 'Raleway';
	font-weight: lighter;
	position: relative;

	.content {
		margin: 0px auto;
		display: flex;
		flex-direction: column;
		max-width: 1000px;
		min-height: calc(100vh);
	}
}
