---
layout: front
title: "Zach Wade"
fulltitle: "Zach Wade | @zwad3 | Projects | Info | Contact"
---
<section>
  <div class="about">
    <div class="section">
      <!-- <h3 class="title">About Me</h3> -->
      <div class="text">
        <p>
          A computer scientist by trade and a hacker at heart, I find ways to combine product engineering and information security.
        </p>
        <p>
          I started <a href="https://compassrx.com">CompassRx</a> with a few brilliant healthcare experts to help build the future of pharmacy. <strong><a href="https://compassrx.dev/blog/1/future-of-pharmacy/">We're hiring!</a></strong>
        </p>
        <p>
          I've also helped start a computer vision company <a href="https://zensors.com">Zensors</a>, and was the first engineer at <a href="https://nuvo.com">Nuvo</a>.
          A long-time member of CMU's hacking team, <a href="https://pwning.net">PPP</a>, I have won several international CTF competitions, including the <a href="https://www.cmu.edu/ini/news/2019/defcon-champion20191.html">world finals</a> six times.
        </p>
      </div>
      <div class="flair-left">
        <div class="headshot"></div>
      </div>
    </div>
    <div class="section">
      <h3 class="title">Projects</h3>
      <div class="text">
        {% include projects.html %}
      </div>
    </div>
    <div class="section">
      <h3 class="title">Blog Posts</h3>
      <div class="text">
        {% include posts.html %}
      </div>
    </div>
    <div class="section">
      <h3 class="title">CTF Problems</h3>
      <div class="text">
        {% include problems.html %}
      </div>
    </div>
  </div>
</section>