@import "variables.scss";

.hero {
    height: 200px;
    background-size: cover;
    background-image: url("/img/defcon_26_hero.jpg");
}

.headshot {
    width: 156px;
    height: 156px;
    object-fit: cover;
    border-radius: 128px;

    @include mobile {
        display: none;
    }
}
// Line headings up with the 16px card margins
.page-content .home .section > .title {
    margin-left: 16px;
}
