@import "variables.scss";

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 64px;
    background-color: rgba($color-slate-01, 0.8);

    @include mobile {
        flex-direction: column;
        padding: 32px;
    }

    .logo {
        display: flex;
        flex-direction: column;
        color: unset;

        .logo-text {
            font-size: 64px;
            margin: 0px;
            margin-right: 32px;
            font-weight: lighter;

            @include mobile {
                font-size: 48px;
                text-align: center;
                margin-right: 0px;
            }
        }

        .logo-img {
            max-width: 192px;
            align-self: flex-end;

            @include mobile {
                max-width: 128px;
                align-self: center;
            }
        }
    }

    .options {
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 18px;
        row-gap: 8px;

        @include mobile {
            margin-top: 16px;
            flex-direction: row;
            flex-flow: wrap;
            column-gap: 16px;
        }

        a {
            color: $color-slate-08;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}