@import "variables.scss";

.ctf-problem-list {
    display: flex;
    flex-direction: row;
    overflow: auto;

    .ctf-problem {
        @include card(0px);
        position: relative;
        padding: 0px;

        grid-template:
            "margin"      64px
            "name"        max-content
            "competition" max-content
            "categories"  max-content
            / 256px;


        &:hover {
            .background {
                background-size: auto 115%;
            }
        }

        .background {
            background-size: auto 100%;
            background-position: center;
            filter: brightness(75%);
            z-index: 0;
            transition: background-size 250ms ease-in-out;
        }

        .problem-title, .competition, .categories {
            z-index: 1;
            backdrop-filter: blur(4px);
            background-color: rgba(#ffffff, 0.5);
            color: #000000;
            align-self: center;
            text-align: center;
        }

        .problem-title {
            grid-area: name;
            z-index: 1;
            font-size: 24px;
            font-weight: 500;
            padding: 8px;
        }

        .competition {
            grid-area: competition;
        }

        .categories {
            grid-area: categories;
            display: flex;
            justify-content: center;
            flex-direction: row;
            padding: 8px;

            .category {
                &:not(:last-child) {
                    &::after {
                        content: "•";
                        font-weight: bold;
                        padding: 8px;
                    }
                }
            }
        }
    }
}