@import "variables.scss";

.project-list {
    display: flex;
    flex-direction: row;
    overflow: auto;

    .project {
        @include card(0px);
        position: relative;
        padding: 0px;

        grid-template:
            "margin" 64px
            "name" max-content
            / 256px;


        &:hover {
            .background {
                background-size: auto 115%;
            }
        }

        .background {
            background-size: auto 100%;
            background-position: center;
            filter: brightness(75%);
            z-index: 0;
            transition: background-size 250ms ease-in-out;
            background-color: $color-slate-01;
        }

        .project-title {
            z-index: 1;
            backdrop-filter: blur(4px);
            background-color: rgba(#ffffff, 0.5);
            color: #000000;
            align-self: center;
            text-align: center;
            grid-area: name;
            z-index: 1;
            font-size: 24px;
            font-weight: 500;
            padding: 8px;
        }
    }
}